* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: aliceblue;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a:hover {
    color: #917f6a;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        background: #fff;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
        /* Ẩn mặc định */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
        /* Hiện khi toggle */
    }

    .nav-links li {
        margin: 10px 0;
    }
}